<strong>Container info</strong>

<strong>ID: </strong> {{ .Container.VMID }}
<strong>Name: </strong> {{ SerializeLink .Container.Link }}
<strong>Type: </strong> {{ .Container.GetTypeEmoji }} {{ .Container.GetType }}
<strong>Status: </strong> {{ .Container.GetEmoji }} {{ .Container.Status }}
<strong>Located at: </strong> {{ SerializeLink .Container.NodeLink }}

<strong>Max CPU</strong>: {{ .Container.MaxCPU }}
<strong>Max RAM</strong>: {{ FormatSize .Container.MaxMemory }}
<strong>Max disk</strong>: {{ FormatSize .Container.MaxDisk }}
{{- if .Config }}
{{- if .Config.SwapPresent }}
<strong>Swap:</strong> {{ FormatSize .Config.Swap }}
{{ end }}
<strong>Start at boot:</strong> {{ FormatBool .Config.OnBoot }}
{{ end -}}
{{- if .Container.IsRunning }}
<strong>Uptime</strong>: {{ FormatDuration .Container.Uptime }}
<strong>CPU usage</strong>: {{ .Container.GetCPUUsage }}
<strong>RAM usage</strong>: {{ FormatSize .Container.Memory }} ({{ .Container.GetRamUsage }})
<strong>Disk usage</strong>: {{ FormatSize .Container.Disk }} ({{ .Container.GetDiskUsage }})
{{ end }}
{{- if .ConfigError }}
Could not fetch container config: {{ .ConfigError }}
{{ end }}

