Going to scale the following container:
- Name: {{ SerializeLink .Container.Link }}
- Node: {{ .Container.Node }}

{{ if not (.ScaleParams.AnythingChanged .Container .Config) -}}
Nothing to scale.
{{ else -}}
Scaling the following params:
{{ if .ScaleParams.CPUChanged .Container -}}
- CPU: {{ .Container.MaxCPU }} -> {{ .ScaleParams.CPU }}
{{ end -}}
{{ if .ScaleParams.MemoryChanged .Container -}}
- Memory: {{ FormatSize .Container.MaxMemory }} -> {{ FormatSize .ScaleParams.Memory }}
{{ end -}}
{{ if .ScaleParams.SwapChanged .Config -}}
- Swap: {{ FormatSize .Config.Swap }} -> {{ FormatSize .ScaleParams.Swap }}
{{ end -}}
{{ end -}}
