<a href="https://github.com/QuokkaStake/proxmox-interacter">proxmox-interacter</a>
A Telegram bot that allows you to interact with your Proxmox instances
Can understand the following commands:

- /status - see your cluster status
- /containers - list your Proxmox containers/VMs
- /container [container ID/name] - see a container info/details
- /node [node ID/name] - see a node info/details
- /start [container ID/name] - start a container
- /stop [container ID/name] - stop a container
- /restart [container ID/name] - restart a container
- /disks - list your Proxmox storages and info about them
- /help, or /start - displays this message

Created by <a href="https://quokkastake.io">🐹 Quokka Stake</a> with ❤️.
If you like what we're doing, consider staking with us!
